// 현재 출력중인 파일 : board.component.html
<div class="wrapper">
  <mat-card class="card">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <H3>자산 리스트</H3>
    </mat-card-title>

    <mat-form-field appearance="fill">
      <mat-label>자산 유형 선택</mat-label>
      <mat-select>
        <mat-option *ngFor="let assetType of assetType" [value]="assetType.value">
          {{assetType.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="assetName-searchBox">
      <mat-label>모델명</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="userName-searchBox">
      <mat-label>사용자명</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-card-content>
      <div class="container">
        <mat-table [dataSource]="posts">
          <ng-container matColumnDef="asset_no">
            <mat-header-cell *matHeaderCellDef>관리번호</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.asset_no}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="asset_type_code">
            <mat-header-cell *matHeaderCellDef>자산유형코드</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.asset_type_code}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="user_name">
            <mat-header-cell *matHeaderCellDef>사용자</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.user_name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="asset_model_name">
            <mat-header-cell *matHeaderCellDef>자산모델명</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.asset_model_name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="asset_serial_no">
            <mat-header-cell *matHeaderCellDef>자산시리얼넘버</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.asset_serial_no}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="use_start_date">
            <mat-header-cell *matHeaderCellDef>사용개시일</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.use_start_date | date: 'yyyy-MM-dd HH:mm'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="asset_stat">
            <mat-header-cell *matHeaderCellDef>고장유무</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.asset_stat}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="asset_pjt_loc">
            <mat-header-cell *matHeaderCellDef>프로젝트장소</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.asset_pjt_loc}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="etc">
            <mat-header-cell *matHeaderCellDef>비고</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.etc}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="reg_date">
            <mat-header-cell *matHeaderCellDef>자산생성일</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">{{element.reg_date | date: 'yyyy-MM-dd HH:mm'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="modifiedAt">
            <mat-header-cell *matHeaderCellDef>수정</mat-header-cell>
            <mat-cell *matCellDef="let element" class="column-center">
              <mat-icon class="icon">edit</mat-icon>
              <mat-icon class="icon">delete_forever</mat-icon>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
        <div *ngIf="posts.length === 0" class="no-content">
          등록된 자산이 없습니다.
        </div>
      </div>
    </mat-card-content>
    <div>
      <button class="button-submit" mat-raised-button color="primary" (click)="open(mymodal)">
        <mat-icon>add</mat-icon> 신규 등록
      </button>
    </div>
  </mat-card>

  <!-- 모달창 템플릿 -->
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">자산 등록</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      이곳에 등록 템플릿을 작성합니다.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
</div>
